@model GestaoSaudeIdosos.Web.ViewModels.LoginViewModel
@{
    Layout = "_Layout";
}

@section Styles {
    <link rel="stylesheet" href="~/css/login.css" />
}

<div class="login-container">
    <div class="login-left"></div>
    <div class="login-right">
        <div class="login-overlay"></div>
        <div class="login-form">
            <form asp-action="Index" method="post">

                <h2>Bem-vindo</h2>

                <div class="form-group has-tooltip">
                    @Html.TextBoxFor(m => m.Email, new
                        {
                            @class = "form-control",
                            placeholder = "E-mail"
                        })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "tooltip-message text-danger" })
                </div>

                <div class="form-group has-tooltip">
                    @Html.PasswordFor(m => m.Senha, new
                        {
                            @class = "form-control",
                            placeholder = "Senha"
                        })
                    @Html.ValidationMessageFor(m => m.Senha, "", new { @class = "tooltip-message text-danger" })
                </div>

                <div>
                    @Html.LabelFor(m => m.LembrarMe)
                    @Html.CheckBoxFor(m => m.LembrarMe)
                </div>

                <button type="submit">Entrar</button>
            </form>
        </div>
    </div>
</div>